In [17]:
import boto3
import pandas as pd
import json

In [18]:
s3 = boto3.client('s3')

In [19]:
def list_all_objects(bucket, prefix):
    all_objects = []
    continuation_token = None
    
    while True:
        if continuation_token:
            response = s3.list_objects_v2(Bucket=bucket, Prefix=prefix, ContinuationToken=continuation_token)
        else:
            response = s3.list_objects_v2(Bucket=bucket, Prefix=prefix)
        
        if 'Contents' in response:
            all_objects.extend([obj['Key'] for obj in response['Contents']])
        
        if not response.get('NextContinuationToken'):
            break
        
        continuation_token = response['NextContinuationToken']
    
    return all_objects

In [20]:
def list_csv_files(bucket, prefix):
    csv_files = []
    response = s3.list_objects_v2(Bucket=bucket, Prefix=prefix)
    if 'Contents' in response:
        for obj in response['Contents']:
            if obj['Key'].endswith('.csv'):
                csv_files.append(obj['Key'])
    return csv_files

In [21]:
def read_csv_from_s3(bucket, file_key):
    response = s3.get_object(Bucket=bucket, Key=file_key)
    df = pd.read_csv(response['Body'])
    return df

In [22]:
def convert_floats_to_ints(df):
    for column in df.columns:
        if df[column].dtype == 'float64':
            df[column] = df[column].fillna(0).astype(int)
    return df

In [23]:
bucket_name = 'data-402-final-project'
prefix = 'Academy/'

In [24]:
csv_files = list_csv_files(bucket_name, prefix)

In [27]:
if csv_files:
    # View contents of the first CSV file
    first_csv_file = csv_files[0]
    academy_csv_files = read_csv_from_s3(bucket_name, first_csv_file)
    print("Contents of the first CSV file:")
    print(academy_csv_files)
    
    # Convert floats to ints
    academy_csv_files = convert_floats_to_ints(academy_csv_files)
    print("\nContents of the first CSV file after converting floats to ints:")
    print(academy_csv_files)
else:
    print("No CSV files found in the Academy folder.")

Contents of the first CSV file:
               name       trainer  Analytic_W1  Independent_W1  Determined_W1  \
0   Quintus Penella  Gregor Gomez            1               2              2
1      Simon Murrey  Gregor Gomez            6               1              1
2       Gustaf Lude  Gregor Gomez            6               4              1
3     Yolanda Fosse  Gregor Gomez            2               1              2
4      Lynnett Swin  Gregor Gomez            2               2              4
5  Bart Godilington  Gregor Gomez            3               6              1
6        Deni Roust  Gregor Gomez            6               3              1
7   Gerhard Mcgrath  Gregor Gomez            2               3              3

   Professional_W1  Studious_W1  Imaginative_W1  Analytic_W2  Independent_W2  \
0                1            2               2          NaN             NaN
1                2            4               2          3.0             1.0
2                1            2               3          1.0             1.0
3                3            3               3          4.0             2.0
4                5            1               2          3.0             2.0
5                5            4               1          2.0             1.0
6                4            4               2          7.0             2.0
7                4            1               1          3.0             6.0

   ...  Determined_W7  Professional_W7  Studious_W7  Imaginative_W7  \
0  ...            NaN              NaN          NaN             NaN
1  ...            NaN              NaN          NaN             NaN
2  ...            8.0              8.0          8.0             6.0
3  ...            8.0              7.0          8.0             8.0
4  ...            7.0              8.0          8.0             8.0
5  ...            6.0              8.0          8.0             7.0
6  ...            8.0              8.0          7.0             7.0
7  ...            8.0              4.0          8.0             8.0

   Analytic_W8  Independent_W8  Determined_W8  Professional_W8  Studious_W8  \
0          NaN             NaN            NaN              NaN          NaN
1          NaN             NaN            NaN              NaN          NaN
2          8.0             7.0            8.0              8.0          7.0
3          8.0             8.0            7.0              8.0          7.0
4          8.0             7.0            8.0              8.0          8.0
5          7.0             7.0            8.0              6.0          7.0
6          7.0             8.0            8.0              8.0          8.0
7          8.0             8.0            7.0              8.0          7.0

   Imaginative_W8
0             NaN
1             NaN
2             8.0
3             5.0
4             8.0
5             8.0
6             8.0
7             8.0

[8 rows x 50 columns]

Contents of the first CSV file after converting floats to ints:
               name       trainer  Analytic_W1  Independent_W1  Determined_W1  \
0   Quintus Penella  Gregor Gomez            1               2              2
1      Simon Murrey  Gregor Gomez            6               1              1
2       Gustaf Lude  Gregor Gomez            6               4              1
3     Yolanda Fosse  Gregor Gomez            2               1              2
4      Lynnett Swin  Gregor Gomez            2               2              4
5  Bart Godilington  Gregor Gomez            3               6              1
6        Deni Roust  Gregor Gomez            6               3              1
7   Gerhard Mcgrath  Gregor Gomez            2               3              3

   Professional_W1  Studious_W1  Imaginative_W1  Analytic_W2  Independent_W2  \
0                1            2               2            0               0
1                2            4               2            3               1
2                1            2               3            1               1
3                3            3               3            4               2
4                5            1               2            3               2
5                5            4               1            2               1
6                4            4               2            7               2
7                4            1               1            3               6

   ...  Determined_W7  Professional_W7  Studious_W7  Imaginative_W7  \
0  ...              0                0            0               0
1  ...              0                0            0               0
2  ...              8                8            8               6
3  ...              8                7            8               8
4  ...              7                8            8               8
5  ...              6                8            8               7
6  ...              8                8            7               7
7  ...              8                4            8               8

   Analytic_W8  Independent_W8  Determined_W8  Professional_W8  Studious_W8  \
0            0               0              0                0            0
1            0               0              0                0            0
2            8               7              8                8            7
3            8               8              7                8            7
4            8               7              8                8            8
5            7               7              8                6            7
6            7               8              8                8            8
7            8               8              7                8            7

   Imaginative_W8
0               0
1               0
2               8
3               5
4               8
5               8
6               8
7               8

[8 rows x 50 columns]